language: python
sudo: true
python:
- 2.7
- 3.3
- 3.4
- 3.5
- 3.6
- pypy
os:
- linux
install:
# Tox needs an older version of virtualenv.
- pip install "virtualenv<14.0.0"
- pip install tox tox-travis codecov
- pip install "setuptools>20.0.0"
script:
- tox
after_success:
- codecov

deploy:
  provider: pypi
  user: gc-team
  password:
    secure: hh1iPe4033hHRhhjSWyogjqECgPLcTLjlgtfI6qZdhyE9K2xIdL4HUYoVJdEXIp3hXvafJ/egcJvmaxpyNDhRcNfZjv4aRy3daBWFDEqaJFqbmF3F2eCu8Fn28xs4ZFqzi0O7hhgtweJZg66ux6fKtoBbVeVR9+hy6iUH08AoOg=
  on:
    branch: master
    python: 3.6
    distributions: sdist bdist_wheel
    repo: GoogleCloudPlatform/compute-image-packages
    tags: true
