[Unit]
Description=Google Compute Engine Clock Sync Daemon
After=network.target
Requires=network.target

[Service]
Type=simple
ExecStart=/usr/share/google/google_daemon/manage_clock_sync.py

[Install]
WantedBy=multi-user.target
