[Unit]
Description=Google Compute Engine User Accounts Manager Daemon
After=network.target
Before=sshd.service
Requires=network.target

[Service]
Type=simple
ExecStart=/usr/share/google/google_daemon/manage_accounts.py

[Install]
WantedBy=multi-user.target
