[Unit]
Description=Google Compute Engine Address Manager Daemon
After=network.target
Requires=network.target

[Service]
Type=simple
ExecStart=/usr/share/google/google_daemon/manage_addresses.py

[Install]
WantedBy=multi-user.target
