
module oslogin 1.0;

require {
	type oddjob_mkhomedir_t;
	type etc_t;
	type http_port_t;
	type sshd_t;
	class tcp_socket name_connect;
	class file { create setattr unlink write };
}

#============= oddjob_mkhomedir_t ==============

#!!!! This avc can be allowed using the boolean 'nis_enabled'
allow oddjob_mkhomedir_t http_port_t:tcp_socket name_connect;

#============= sshd_t ==============

#!!!! WARNING: 'etc_t' is a base type.
allow sshd_t etc_t:file { create setattr unlink write };

#!!!! This avc can be allowed using one of the these booleans:
#     authlogin_yubikey, nis_enabled
allow sshd_t http_port_t:tcp_socket name_connect;
