
module oslogin.el7 1.0;

require {
	type oddjob_mkhomedir_t;
	type etc_t;
	type var_t;
	type http_port_t;
	type sshd_t;
	class tcp_socket name_connect;
	class file { create setattr getattr open unlink write };
}

# These two could also be set with the nis_enabled_boolean
allow oddjob_mkhomedir_t http_port_t:tcp_socket name_connect;
allow sshd_t http_port_t:tcp_socket name_connect;

# The NSS module needs to manipulate files in /etc and /var for sudo permissions
allow sshd_t etc_t:file { create setattr unlink write };
allow sshd_t var_t:file { create setattr getattr open unlink write };
