[Unit]
Description=Google Compute Engine Startup Scripts
After=local-fs.target network-online.target network.target rsyslog.service
After=google-instance-setup.service google-network-setup.service
Wants=local-fs.target network-online.target network.target

[Service]
ExecStart=/usr/bin/google_metadata_script_runner --script-type startup
KillMode=process
Type=oneshot

[Install]
WantedBy=multi-user.target
