[Unit]
Description=Google Compute Engine IP Forwarding Daemon
After=network.target google-instance-setup.service
Requires=network.target

[Service]
Type=simple
ExecStart=/usr/bin/google_ip_forwarding_daemon

[Install]
WantedBy=multi-user.target
