[Unit]
Description=Google Compute Engine user shutdown scripts
Before=shutdown.target reboot.target halt.target
DefaultDependencies=true
Wants=local-fs.target network-online.target network.target

[Service]
ExecStart=/usr/share/google/run-shutdown-scripts
Type=oneshot

[Install]
WantedBy=shutdown.target reboot.target halt.target
