[Unit]
Description=Google Compute Engine VM initialization
After=local-fs.target network-online.target network.target
Before=sshd.service
Wants=local-fs.target network-online.target network.target

[Service]
ExecStart=/usr/share/google/onboot
Type=oneshot

[Install]
WantedBy=sshd.service
WantedBy=multi-user.target
