[Unit]
Description=Google Compute Engine user scripts
After=local-fs.target network-online.target network.target
After=google.service rsyslog.service
Wants=local-fs.target network-online.target network.target

[Service]
ExecStart=/usr/share/google/run-startup-scripts
ExecStop=/usr/share/google/run-shutdown-scripts
Type=oneshot
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
